/* CSS sourced from CodePen.io. "Responsive Navbar" by Ecem Gokdogan
https://codepen.io/ecemgo/pen/mdzjEyX  */

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  width: 100%;
}

body {
  min-height: 100vh;
}

nav {
  background: rgb(214, 147, 216);
  height: 50px;
  width: 100%;
}

nav > ul {
  gap: 30px;
  float: right;
  margin-right: 20px;
}

nav > ul > li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

.nav-item {
  color: white;
  font-size: 10px;
  padding: 10px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.active, .nav-item:hover {
  background: rgb(68, 19, 70);
  transition: 0.5s;
}

.logo {
  color: white;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
  font-weight: 500;
  line-height: 50px;
  padding: 0 50px;
  text-transform: uppercase;
  margin: 0;
  display: inline-block;
} 

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

main {
  min-height: 100vh;
  width: 100%;
  background-image: url(../img/cat_background.avif);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  display: flex;
  flex-direction: column;
  align-items: center;
}

#content-div{
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#imageAndButtonContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:2rem;
}

#back-home-button{
  width: 20rem;
  margin-top: 2rem;
}

.border{
  border: 3px dotted white;
}

.imageDimensions{
  height: 15rem;
  width: 15rem;
}

.imageDimensions2{
  height: 20rem;
  width: 20rem;
}

#all-info{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 35rem;
  margin-top: 3rem;
  background: rgb(214, 147, 216);
  border-radius: 5px;
  padding: 2rem;
  border: 5px dotted white;
}

#description, #temperament{
  margin-top: 2rem;
}

#origin, #description, #temperament, #breedName{
  text-align: center;
}

button{
  margin: .5rem 0;
  padding: 5px;
  border-radius: 5px;
  border: none;
  background: rgb(68, 19, 70);
  color: white;
}

.container{
  height: 20rem;
  width: 20rem;
  background: rgb(214, 147, 216);
  border-radius: 5px;

}

.box {
  background: rgba(47, 49, 65, 0.5);
  color: white;
  width: 17rem;
  height: auto;
  padding: 1.5rem;
  text-align: center;
  border-radius: 20px;
  box-shadow: 10px 16px 42px -23px rgba(0,0,0,0.44);
  margin-top: 3rem;
}


img{
  margin-top: 2rem;
  border-radius: 5px;
}

h2 {
  font-size: clamp(1.5rem, 2.5vw, 2.5rem);
  margin-bottom: 1rem;

}

p {
  font-size: clamp(0.7rem, 2.5vw, 1rem);
}

@media screen and (max-width: 950px) {
  
  .logo {
    padding-left: 40px;
  }
  
  .nav-item {
    font-size: 16px;
  }
}

@media screen and (max-width: 850px) {
  
  .checkbtn {
    display: block;
  }
  
  nav > ul {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    gap: 40px;
    width: 100%; 
    height: 100vh;
    background: #2c3e50;
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all 0.5s;
    overflow-y: scroll;
    padding: 70px 0 80px;
  }
  
  nav > ul > li {
    display: block;
    line-height: 30px;
  }
  
  .nav-item {
    font-size: 20px;
  }
  
 .active, .nav-item:hover {
    background: none;
    color: #0082e6;
  }
  
  #check:checked ~ ul {
    left: 0;
  }
}

